.customer-font {
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Kanit';
}
ion-toolbar {
        font-size: 18px;
        --background: transparent;
    }
.orders {
    font-family: Kanit;
    font-size: 18px;
    
}
.form-orders {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Kanit;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    padding: 0 20px 0 23px; 
}
.image {
    
    width: 900;
    height: 900;
}