<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar class="customer-font">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="manu"></ion-back-button>
    </ion-buttons>
    <ion-title>ตะกร้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <ion-label class="basket-ta">รายการที่สั่ง โต๊ะ </ion-label>
  <ion-label class="basket-ta">{{ data.nameTable }}</ion-label>
  <ion-list *ngFor="let item of data.listmanu">
    <ion-item routerLink="/edit-ordermenu/{{data.id}}/{{item.nameManu.id}}">
      <ion-label class="basket">{{ item.nameManu.name }}</ion-label>
      <ion-label class="basket">{{ item.tatol }}</ion-label>
      <ion-label class="basket">{{ item.description }}</ion-label>
      <ion-label class="basket">{{ item.nameManu.price }}</ion-label>
    </ion-item>
    <p></p>
    <ion-button color="danger" class="form-basket" shape="round" expand="block"
      (click)="DeleteMenuOrder(data.id,item.nameManu.id)">ลบ</ion-button>
  </ion-list>
  <p></p>
  <ion-label class="basket">ราคารวม {{ data.price }} บาท</ion-label><br>
  <p></p>
  <ion-button class="form-basket" shape="round" (click)="ConfirmOrder(data.id)" [routerLink]="['/slipuse/', data.id]">
    ยืนยันการสั่ง</ion-button>
  <p></p>
</ion-content>