.customer-font {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit';
}
ion-toolbar {
    font-family: Kanit;
    font-size: 20px;
    --background: transparent;
}
.slip-page {
    font-family: Kanit;
    font-size: 18px;
}
.form-slip-page  {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Kanit;
    font-size: 18px;
    line-height: 1.2;
    border: none;
    outline: none;
    padding: 0 20px 0 23px; 
}
