.customer-font {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit';
    font-size: 16px;
}
ion-toolbar {
    font-size: 18px;
    font-weight: 200;
    --background: transparent;
}
.user-edit {
    font-family: Kanit;
    font-weight: 500;
    font-size: 20px;
}
.slip {
    font-family: Kanit;
    font-size: 16px;
}
.form-user-edit  {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Kanit;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    padding: 0 20px 0 23px; 
}