.customer-font {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit';
}
ion-toolbar {
    font-family: Kanit;
    font-size: 18px;
    --background: transparent;
}
.lismenu {
    font-family: Kanit;
    font-size: 18px;
}
